:root{
    --primary :  white;
    --secondary:   rgb(232, 0, 0);;
}

.page h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page{
    background-color: var(--primary);
    width: 60%;
    padding: 1em;
    margin: auto auto;
    height: fit-content;
}

.page .input-group{
    width: 60%;
    margin: auto auto;
    margin-bottom: 1.2em;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.084);
}

.page .input-group input{
    padding: .8em;
    /* background-color: azure; */
}

.page select{
    padding: .7em;
}

.page button{
    padding: .7em 2em;
    background-color: var(--secondary);
    margin-bottom: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page i{
    color: var(--secondary);
}

.page .input-group-text{
    background-color: transparent !important;
}

@media screen and (max-width: 858px) {
    .page{
        width: 80%;
    }
}

@media screen and (max-width: 658px) {
    .page{
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow: scroll;
    }

    .page .input-group{
        width: 95%;
        margin-bottom: 1.5em;
    }

    .page button{
        margin-top: 2em;
        margin-bottom: 10em;
    }
}

.page .box{
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.16);
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 6px;
}

.page .box p {
    color: rgb(81, 81, 81);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page .box .d-flex{
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: .5em;
}

.landing{

}

.text_color{
    color: var(--secondary);
}

.landing .top img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.landing .top .text_content{
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 500px;
    color: var(--primary);
    padding: 1em;
}

.landing .top .text_content i {
    background-color: var(--secondary);
    padding: .5em 1em;
    font-size: 1.2em;
    border-radius: 6px;
    color: var(--primary);
}

.landing .top .desc{
    margin-top: 8em;
}

.top .offcanvas{
    width: 70% !important;
}

.top .offcanvas-header{
    background-color: var(--secondary);
    color: var(--primary);
    padding-bottom: 2em;
    padding-top: 2em;
}

.top .offcanvas-body{
    padding: 0 !important;
}

.top .offcanvas-body p{
    margin-bottom: 3em;
}

.top .offcanvas-body a{
    padding: 1em;
    padding-right: 1em;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.top .offcanvas-body i {
    margin-right: .4em;
    color: var(--secondary);
}